<mat-toolbar color="primary" class=" mat-elevation-z8">
 <span class="titulo">PRMovies - Public Rate Movies
 </span>
 <div class="example-button-row links_topo">
  <button mat-raised-button class="minhas" routerLink="/"><span class="material-icons ico">
    movie_filter
    </span><span class="txt_bt">Novidades</span></button>
 <button mat-raised-button class="minhas" routerLink="/minhas"><span class="material-icons ico">
  thumbs_up_down
  </span> <span class="txt_bt">Minhas Avaliações</span></button></div>
</mat-toolbar>

